<section class="padding-top-bottom">

		<button ng-click="toggleFilter=true" ng-hide="toggleFilter" class="filter-expander">
            <i class="fa fa-search fa-lg white"></i>&nbsp; Search
         </button>
         <div class="filter-panel" ng-show="toggleFilter">
		    <div class="panel-heading">
		    <div class="row mb">		    
	            <div class="col-sm-12">
	              <h3 class="title-sm text-uppercase hr-left"><i class="fa fa-search fa-lg white"></i>&nbsp; Search	             
		              <i ng-click="toggleFilter=false" class="pull-right pointer-cursor fa fa-close fa-lg white pointer"></i>             	          
		           </h3>	
	            </div>
		     </div>	
		    </div>
		  	<div class="panel-body">
		    	Panel content
		  	</div>
		  </div>
		  


	<div class="container roundedCnrShadow">
		<header class="section-header text-center">
			<h2>IGSN Sample Collection</h2>
			<p>Minted via CSIRO igsn registry service</p>
			<table class="detailTbl">
                <thead>
                <tr>						                                
                    <th>Sample</th>
                    <th>&nbsp</th>						                                						                               
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Collection Project</th>
                    <td>tersadfs1</td>						                               
                </tr> 
                 <tr>
                    <th>Collection Project</th>
                    <td>tersadfs1</td>						                               
                </tr>
                 <tr>
                    <th>Collection Project</th>
                    <td>tersadfs1</td>						                               
                </tr>
                 <tr>
                    <th>Collection Project</th>
                    <td>tersadfs1</td>						                               
                </tr>
                 <tr>
                    <th>Collection Project</th>
                    <td>tersadfs1</td>						                               
                </tr>
                 <tr>
                    <th>Collection Project</th>
                    <td>tersadfs1</td>						                               
                </tr>
                 <tr>
                    <th>Collection Project</th>
                    <td>tersadfs1</td>						                               
                </tr>
                 <tr>
                    <th>Collection Project</th>
                    <td>tersadfs1</td>						                               
                </tr>
                 <tr>
                    <th>Collection Project</th>
                    <td>tersadfs1</td>						                               
                </tr>                 
             </tbody>
          </table>
		</header>				
	</div>
</section>